<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="ReportKilledMutations" value="true"/>
    <add key="ClearReadOnlyFlag" value="false"/>
    <add key="UnitTestTimeOut" value="10000"/>
    <add key="DetectAssertions" value="true"/>
    <add key="BuildConfiguration" value="Release"/>
    <!--   shadowfiles.path used by NUnit.Util.TestDomain -->
    <add key="shadowfiles.path" value="%temp%\nester\ShadowCopyCache"/>
	</appSettings>
</configuration>
